#root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	/* background-color: #242424; */

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

.container-fluid {
	min-width: 780px;
	display: flex;
	flex-wrap: wrap;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-around;
}

.logo {
	margin: auto;
	display: block;
	max-width: 45%;
}

.logo-icon {
	display: block;
	padding-bottom: 3px;
	max-width: 35px;
}

.navbar-nav > li {
	padding-left: 25px;
	padding-right: 25px;
}

.card {
	border: 2px solid white;
	padding: 15px;
	width: 350px;
	height: 370px;
	margin: 0 auto;
	border-radius: 5px;
	backdrop-filter: blur(5px);
	background-color: rgba(55, 12, 94, 0.6);
	/* color: #000000; */
	/* background-color: rgba(255, 255, 255, 0.7); */
}

.card-body {
	display: flex;
	flex-direction: column;
	align-content: center;
}

.card-title {
	/* padding: 0px; */
	width: 310px;
	height: 25px;
	background-color: rgba(255, 255, 255, 0.3);
}
.scrollable {
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 300px;
}

.center {
	margin: auto;
	width: 95%;
	padding-left: 25px;
	margin-top: 20px;
	margin-bottom: 40px;
}

a {
	font-weight: 500;
	color: #64dbff;
	text-decoration: inherit;
}
a:hover {
	color: #89e1fc;
}

body {
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-image: url(./src/assets/purplecryptochart.jpg);
	background-color: rgba(255, 255, 255, 0.5);
	margin: 5%;
	display: flex;
	align-content: center;
	justify-content: center;
	/* place-items: center; */
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	text-align: center;
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
