#root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	/* background-color: #242424; */

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

.arrow-glow {
	/* color: #17c6fc; */
	color: #fff;
	text-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 19px #fff,
		0 0 40px rgb(140, 0, 255), 0 0 88px rgb(140, 0, 255),
		0 0 90px rgb(140, 0, 255), 0 0 100px rgb(140, 0, 255),
		0 0 149px rgb(140, 0, 255);
}

.arrow-dull {
	color: #5c416f;
}

.bg-glass {
	/* border: 2px solid white; */
	padding: 1px;
	/* padding-bottom: -10px; */
	width: 580px;
	height: 100px;
	margin: 0 auto;
	border-radius: 5px;
	backdrop-filter: blur(5px);
	background-color: rgba(55, 12, 94, 0.6);
}

.bg-glass-1 {
	/* border: 2px solid white; */
	padding: 1px;
	/* padding-bottom: -10px; */
	width: 500px;
	height: 60px;
	margin: 0 auto;
	margin-left: 120px;
	border-radius: 5px;
	backdrop-filter: blur(5px);
	background-color: rgba(55, 12, 94, 0.6);
}

.bg-glass-2 {
	/* border: 2px solid white; */
	padding: 1px;
	/* padding-bottom: -10px; */
	width: 520px;
	height: 80px;
	margin: 0 auto;
	margin-left: 120px;
	border-radius: 5px;
	backdrop-filter: blur(5px);
	background-color: rgba(55, 12, 94, 0.6);
}

.bg-glass-3 {
	/* border: 2px solid white; */
	padding: 8px;
	/* padding-bottom: -10px; */
	width: 800px;
	height: 60px;
	margin: 0 auto;
	margin-left: 20px;
	border-radius: 5px;
	backdrop-filter: blur(5px);
	background-color: rgba(55, 12, 94, 0.6);
}

.bg-glass-4 {
	/* border: 2px solid white; */
	/* padding: 1px; */
	/* padding-bottom: -10px; */
	width: 480px;
	height: 120px;
	margin: 0 auto;
	border-radius: 5px;
	backdrop-filter: blur(5px);
	background-color: rgba(55, 12, 94, 0.6);
}

.blk-data {
	padding-left: 12px;
	padding-right: 12px;
}

.blue-text {
	color: #64dbff;
}

.box {
	/* background-color: yellow; */
	display: flex;
	flex-direction: column;
}

.node-box-dull {
	border: 3px solid #2864f5;
	border-radius: 3px;
	padding: 5px;
}

.node-box-bright {
	border: 3px solid #2864f5;
	border-radius: 3px;
	padding: 5px;
	box-shadow: 0 0 5px 2px #48abe0, 0 0 6px 2px #ebecca, 0 0 8px 6px #8a2be2,
		0 0 6px 3px #ff1493;
}

.current-box-dull {
	border: 3px solid #e551d7;
	border-radius: 3px;
	padding: 5px;
}

.current-box-bright {
	border: 3px solid #e551d7;
	border-radius: 3px;
	padding: 5px;
	box-shadow: 0 0 5px 2px #48abe0, 0 0 6px 2px #ebecca, 0 0 8px 6px #8a2be2,
		0 0 6px 3px #ff1493;
}

.btn-justify-end {
	/* padding-right: 15px; */
	display: inline-block;
	/* flex-direction: row; */
	/* justify-content: right; */
}

.btn-pair {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.card {
	border: 2px solid white;
	padding: 2px;
	width: 350px;
	height: 370px;
	margin: 0 auto;
	border-radius: 5px;
	backdrop-filter: blur(5px);
	background-color: rgba(55, 12, 94, 0.6);
}

.card-md {
	display: flex;
	flex-direction: column;
	border: 2px solid white;
	width: 500px;
	height: 300px;
	margin: 0 auto;
	margin-right: 140px;
	border-radius: 5px;
	backdrop-filter: blur(5px);
	background-color: rgba(55, 12, 94, 0.6);
}

.card-md-1 {
	display: flex;
	flex-direction: column;
	border: 2px solid white;
	width: 520px;
	height: 330px;
	margin: 0 auto;
	margin-right: 140px;
	border-radius: 5px;
	backdrop-filter: blur(5px);
	background-color: rgba(55, 12, 94, 0.6);
}

.card-md-2 {
	display: flex;
	flex-direction: column;
	border: 2px solid white;
	width: 560px;
	height: 350px;
	margin: 0 auto;
	margin-right: 100px;
	border-radius: 5px;
	backdrop-filter: blur(5px);
	background-color: rgba(55, 12, 94, 0.6);
}

.card-wallet-txn {
	border: 2px solid white;
	padding: 15px;
	width: 350px;
	height: 380px;
	margin: 0 auto;
	border-radius: 5px;
	backdrop-filter: blur(5px);
	background-color: rgba(55, 12, 94, 0.6);
}

.card-wide {
	border: 2px solid white;
	padding: 1px;
	width: 650px;
	height: 370px;
	margin: 0 auto;
	border-radius: 5px;
	backdrop-filter: blur(5px);
	background-color: rgba(55, 12, 94, 0.6);
}

.card-wide-1 {
	border: 2px solid white;
	/* padding: 15px; */
	width: 650px;
	height: 370px;
	margin: 0 auto;
	border-radius: 5px;
	backdrop-filter: blur(5px);
	background-color: rgba(55, 12, 94, 0.6);
}
.card-body {
	/* padding-right: 15px; */
	display: flex;
	flex-direction: column;
	align-content: center;
}

.card-body-md {
	height: 290px;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.card-body-md-0 {
	height: 100%;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.card-body-md-1 {
	height: 290px;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.card-body-md {
	height: 320px;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.card-body-wide {
	height: 100%;
	padding: 1px;
	padding-left: 35px;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.card-body-wide-1 {
	padding-left: 22px;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.card-body-wide-2 {
	height: 100%;
	padding: 1px;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.card-title {
	width: 310px;
	height: 25px;
	background-color: rgba(255, 255, 255, 0.3);
}

.card-title-0 {
	margin-left: 15px;
	padding-left: 10px;
	width: 310px;
	height: 25px;
	background-color: rgba(255, 255, 255, 0.3);
}

.card-title-1 {
	/* padding: 0px; */
	width: 460px;
	height: 25px;
	background-color: rgba(255, 255, 255, 0.3);
}

.card-title-2 {
	padding-left: 10px;
	margin-left: 10px;
	width: 490px;
	height: 25px;
	background-color: rgba(255, 255, 255, 0.3);
}

.center {
	margin: auto;
	width: 95%;
	padding-left: 25px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.center-img {
	margin: auto;
	width: 50%;
	padding-left: 75px;
	/* margin-top: 20px; */
	/* margin-bottom: 40px; */
}

.center-img-2 {
	margin: auto;
	width: 50%;
	padding-left: 95px;
	/* margin-top: 20px; */
	/* margin-bottom: 40px; */
}

.center-cat {
	margin: auto;
	margin-left: 195px;
	width: 50%;
	/* padding-left: 300px; */
	/* margin-top: 20px; */
	/* margin-bottom: 40px; */
}

.center-text {
	text-align: center;
}

.center-btn {
	display: block;
	text-align: center;
	margin-right: 40px;
	margin: "auto";
	width: "50%";
	variant: "primary";
	size: "lg";
}

.container-fluid {
	display: flex;
	flex-direction: column;
	min-width: 780px;
	display: flex;
	flex-wrap: wrap;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-around;
}

.container-fluid-1 {
	min-width: 880px;
	display: flex;
	flex-wrap: wrap;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-around;
}

.cred-card {
	border: 2px solid white;
	padding: 15px;
	width: 500px;
	/* height: 270px; */
	height: 295px;
	margin: 0 auto;
	border-radius: 5px;
	backdrop-filter: blur(5px);
	background-color: rgba(55, 12, 94, 0.6);
}

.custom-btn {
	background: #b029a0;
	border-color: #b029a0;
	color: #fff;
}

.custom-btn:hover {
	background: #ac3d9f;
	border-color: #ac3d9f;
	color: #fff;
}

.d-block {
	display: block;
	text-align: center;
}

.first-line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.flex-justify-end {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.line {
	border-bottom: 1px solid #fff;
	display: block;
}

.ln-ht {
	/* font-size: 1.2em; */
	line-height: 0.8;
}

.ln-ht-2 {
	/* font-size: 1.2em; */
	line-height: 0.6;
}

.logo {
	margin: auto;
	display: block;
	max-width: 45%;
}

.logo-icon {
	display: block;
	padding-bottom: 3px;
	max-width: 35px;
}

.navbar-nav > li {
	padding-left: 25px;
	padding-right: 25px;
}

.scrollable {
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 300px;
}

.scrollable-1 {
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 345px;
}

.text-pink {
	color: #e551d7;
}

.text-indent {
	padding: 20px;
}

.txn-data {
	padding-left: 12px;
	padding-right: 12px;
}

a {
	font-weight: 500;
	color: #64dbff;
	text-decoration: inherit;
}
a:hover {
	color: #89e1fc;
}

body {
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-image: url(./src/assets/purplecryptochart.jpg);
	background-color: rgba(255, 255, 255, 0.5);
	margin: 5%;
	display: flex;
	align-content: center;
	justify-content: center;
	/* place-items: center; */
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	text-align: center;
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
